<div class='contents row'>
  <h2>
    <%= "#{@user.name}さんの投稿一覧" %>
  </h2>

  <% @articles.each do |article| %>
    <%= render partial: 'articles/article', locals: { article: article } %>
  <% end %>

  <%= paginate(@articles) %>
</div>

<%= react_component('MyPage', user: @user, articles: @user_articles) %>
