.article-editor {
  overflow: hidden;
  padding: 0 18px;
  &__title {
    height: 45px;
    line-height: 45px;
    font-size: 32px;
  }

  &__contents {
    margin-top: 50px
  }

  &__content {
    height: 60vh;
    vertical-align: text-top;
  }
}

.btn-new{
  float: right;
}
