body{
  background: #e8e8e8;
}

.container{
  padding: 30px 50px;
  margin: 90px auto 45px;
}

.row{
  border-radius: 5px;
  box-shadow: 0px 0px 6px 3px #9c9c9c;
  -moz-box-shadow: 0px 0px 6px 3px #9c9c9c;
  -webkit-box-shadow: 0px 0px 6px 3px #9c9c9c;
  background: white;
}

.articlelist{
  overflow: hidden;
  padding: 0 10px;
}

.article {
    overflow: hidden;
    display: block;
    margin: 15px 0;
    padding: 10px 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px #9c9c9c;
    -moz-box-shadow: 0px 0px 3px 2px #9c9c9c;
    -webkit-box-shadow: 0px 0px 3px 2px #9c9c9c;
    justify-content: space-between;
    h3{
      margin: 0;
      padding: 15px 0;
    }
}

.edit {
    float: right;
}
